body{

    background-color: lightgreen;

}

header{

    border-bottom: solid 2px gray;
    padding: 20px;
    font-size: 32px;
    color: gold;
}

.capa {
color: bisque;
font-size: 20px;
}

#heroi{
    display: flex;
    padding-left: 200px;

}

.videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}